
<!DOCTYPE HTML>
<html>
<head>
	<title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="../footwear/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../footwear/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="../footwear/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../footwear/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../footwear/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="../footwear/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../footwear/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../footwear/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="../footwear/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../footwear/css/style.css">

</head>
<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		 @await Html.PartialAsync("_PartialHeader");
	
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(../footwear/images/bannerheader1.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 offset-sm-3 text-center slider-text">
									<div class="slider-text-inner">
										<div class="desc">
											<h1 class="head-1">Men's</h1>
											<h2 class="head-2">Shoes</h2>
											<h2 class="head-3">Collection</h2>
											<p class="category"><span>New trending shoes</span></p>
											<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(../footwear/images/bannerheader3.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 offset-sm-3 text-center slider-text">
									<div class="slider-text-inner">
										<div class="desc">
											<h1 class="head-1">Huge</h1>
											<h2 class="head-2">Sale</h2>
											<h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
											<p class="category"><span>Big sale sandals</span></p>
											<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(../footwear/images/bannerheader2.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 offset-sm-3 text-center slider-text">
									<div class="slider-text-inner">
										<div class="desc">
											<h1 class="head-1">New</h1>
											<h2 class="head-2">Arrival</h2>
											<h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
											<p class="category"><span>New stylish shoes for men</span></p>
											<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>
		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="colorlib-product">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 text-center">
						<div class="featured">
							<a href="#" class="featured-img" style="background-image: url(../footwear/images/poster-quang-cao-giay.jpg);"></a>
							<div class="desc">
								<h2><a href="#">Sneaker's Collection</a></h2>
							</div>
						</div>
					</div>
					<div class="col-sm-6 text-center">
						<div class="featured">
							<a href="#" class="featured-img" style="background-image: url(../footwear/images/banner_sub4.jpg);"></a>
							<div class="desc">
								<h2><a href="#">Leather Shoes's Collection</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
						<h2>All Products</h2>
					</div>
				</div>
			
				
					
				

					<div class="colorlib-product ct-2">
						<div class="container">
							<div class="row">
								<div class="col-lg-3 col-xl-3">
									<div class="row">
									@await Component.InvokeAsync("LoaiSpMenu");

									@await Component.InvokeAsync("LoaiDtMenu");
									
										<div class="col-sm-12">
											<div class="side border mb-1">
												<h3>Colors</h3>
												<ul>
													<li><a href="#">Black</a></li>
													<li><a href="#">White</a></li>
													<li><a href="#">Blue</a></li>
													<li><a href="#">Red</a></li>
													<li><a href="#">Green</a></li>
													<li><a href="#">Grey</a></li>
													<li><a href="#">Orange</a></li>
													<li><a href="#">Cream</a></li>
													<li><a href="#">Brown</a></li>
												</ul>
											</div>
										</div>



									</div>
								</div>
								<div class="col-lg-9 col-xl-9">
									<div class="row row-pb-md">


									@RenderBody()

									</div>
								@*	<div class="row">
										<div class="col-md-12 text-center">
											<div class="block-27">
												<ul>

													@Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page}))

												</ul>
											</div>
										</div>
									</div>*@

								</div>
							</div>
						</div>
					

					
				</div>
				
			</div>
		</div>

		 @await Html.PartialAsync("_PartialFooter");
	
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="../footwear/js/jquery.min.js"></script>
	<!-- popper -->
	<script src="../footwear/js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="../footwear/js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="../footwear/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="../footwear/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="../footwear/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="../footwear/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="../footwear/js/jquery.magnific-popup.min.js"></script>
	<script src="../footwear/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="../footwear/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="../footwear/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="../footwear/js/main.js"></script>

</body>
</html>

